# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
build/
dist/
wheels/

# Virtualenv
.venv/
venv/

# Tests / coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.cache/
.mypy_cache/
.ruff_cache/

# IDE / OS
.idea/
.vscode/
.DS_Store
*.swp

# Docs
site/
